<div class="container">
  <h1>註冊頁面</h1>

  <div class="row">
    <%= form_for @user, url: url_for(controller: 'users', action: 'sign_up') do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.submit "註冊" %>
    <% end %>
  </div>
</div>