<div class="row">
<div class="col-md-4 col-md-offset-4">

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= @attraction.name %>
      </h3>
    </div>
    <div class="panel-body">
      <p>目前遊玩人數：<%= @attraction.users.count %></p>
      <p>代幣需求：<%= @attraction.tickets %></p>
      <p>身高限制：<%= @attraction.min_height %></p>
      <p>刺激度：<%= @attraction.nausea_rating %></p>
      <p>快樂度：<%= @attraction.happiness_rating %></p>
      <br>
      <%= link_to "乘坐", ride_attraction_path(@attraction), class: "btn btn-info", method: :post %>
      <br>
      <br>
      <form action="/rides/xyz" method="post">
        <%= tag :input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token %>
        <%= tag :input, type: "hidden", name: :user_id, value: current_user.id %>
        <%= tag :input, type: "hidden", name: :attraction_id, value: @attraction.id %>
        <input class="btn btn-warning" type="submit" value="乘坐">
      </form>
    </div>
  </div>

</div>
</div>